.footer
  background: #ef3f4a
  min-height: 286px
  padding-top: 55px
  &__logo
    max-width: 188px
    img
      position: relative
      left: -22px
  &__adress
    max-width: 281px
    padding-top: 5px
    color: #ffffff
    font-size: 14px
    font-family: Tahoma
    a
      color: #ffffff
    .header__soc
      text-align: left
      margin-top: 28px
      a
        margin-left: 0
        margin-right: 9px
  &__menu
    display: block
    margin: 0
    padding: 0
    li
      margin: 0
      padding: 0
      list-style: none
      a
        color: #ffffff
        font-size: 14px
        line-height: 29px
        letter-spacing: 0.3px
  &__menu1
    max-width: 170px
  &__menu2
    max-width: 170px
  &__sait
    max-width: 160px
    color: #ffffff
    font-size: 12px
    line-height: 18px
    text-align: right