.recepti-list
  &__item
    color: #000000
    font-family: Tahoma
    max-width: 438px
    min-height: 173px
    background: #fff
    padding: 28px
    font-size: 14px
    margin-bottom: 50px
    box-shadow: 0px 5px 7px 0px rgba(22, 22, 22, 0.05)
    h2
      font-weight: normal
      font-size: 19px
      a
        color: #000000
        text-decoration: none
    &-pic
      float: left
      @media (max-width: 500px)
        float: none
        padding-bottom: 10px
        text-align: center
    &-cont
      margin-left: 145px
      @media (max-width: 500px)
        margin-left: 0

.item
  background: #ffffff
  padding: 40px
  margin-bottom: 45px
  font-size: 12px
  font-family: Tahoma
  box-shadow: 0px 5px 7px 0px rgba(22, 22, 22, 0.05)
  &:after
    content: ''
    display: table
    clear: both
  &__pic
    float: left
    width: 315px
    @media (max-width: 650px)
      float: none
      width: 100%
      text-align: center
      padding-bottom: 10px
  &__cont
    font-size: 12px
    font-family: Tahoma
    margin-left: 355px
    @media (max-width: 650px)
      margin-left: 0
    
.recepti
  box-shadow: 0px 5px 7px 0px rgba(22, 22, 22, 0.05)
  background: #fff
  padding: 25px 40px
  margin-bottom: 50px
  &:after
    content: ''
    display: table
    clear: both
  h3
    font-size: 14.5px
    font-family: Tahoma
    color: #797979
    font-weight: 600
    margin-bottom: 20px
  &__item
    margin-bottom: 20px
    width: 33%
    float: left
    @media  (max-width: 767px)
      float: none
      width: 100%
    &:after
      content: ''
      display: table
      clear: both
    &-pic
      float: left
      width: 90px
    &-cont
      margin-left: 105px
      a
        color: #000000
      h4
        a
          color: #000000